@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	font-family: "Inter";
	font-weight: 400;
	color: hsl(0, 0%, 100%);
}

body {
	background-color: hsl(233, 47%, 7%);
}

.card-container {
	display: flex;
	flex-direction: column;
	background-color: hsl(244, 38%, 16%);
	margin-block: 20%;
	margin-inline: 5%;
	border-radius: 0.8rem;
	overflow: hidden;
	text-align: center;
}

.tint {
	display: flex;
	background-color: hsl(277, 64%, 61%);
	filter: saturate(250%) brightness(75%) contrast(125%);
}

img {
	opacity: 0.6;
	max-width: 100%;
}

.card-content {
	padding: 8% 8%;
	font-size: 1.5rem;
	line-height: 2.4rem;
}

h1 {
	padding-bottom: 2.8rem;
	line-height: 3.6rem;
	font-weight: 700;
	font-size: 2.6rem;
}

em {
	color: hsl(277, 64%, 61%);
	font-style: normal;
}

p {
	color: hsla(0, 0%, 100%, 0.75);
}

.card-description {
	margin-block-end: 10%;
}

.statistics {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 3rem;
}

.stat-heading {
	color: hsl(0, 0%, 100%);
	font-size: 2.4rem;
	font-weight: 700;
}

.stat-item {
	display: block;
	font-size: 1.5rem;
	font-family: "Lexend Deca";
	text-transform: uppercase;
	color: hsla(0, 0%, 100%, 0.75);
}

.attribution {
	height: 50px;
	font-size: 1.1rem;
	text-align: center;
	color: hsl(0, 0%, 100%);
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 725px) {
	.card-container {
		display: flex;
		flex-direction: row-reverse;
		width: 80%;
		margin-block: 10%;
		margin-inline: auto;
		border-radius: 0.8rem;
		overflow: hidden;
		text-align: start;
	}

	.card-content {
		padding-inline: 5% 5%;
		font-size: 1.5rem;
		line-height: 2.8rem;
		width: 50%;
	}

	h1 {
		line-height: 4.5rem;
		font-weight: 700;
		font-size: 3.4rem;
	}

	.tint {
		width: 50%;
		flex: 0 0 auto;
	}

	.card-description {
		margin-block-end: 15%;
	}

	.statistics {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}

	img {
		object-position: right;
		object-fit: cover;
	}
}
